<div>
  <h3>Create Account</h3>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="First Name" id="firstname" [(ngModel)]=" firstName" name="firstname">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" id="lastname" [(ngModel)]=" lastName" name="lastname">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Location" id="address" [(ngModel)]=" address" name="address">
    </mat-form-field>
    <p>
      <button type="submit" mat-stroked-button>Submit</button>
    </p>
  </form>
</div>