@import url('https://fonts.googleapis.com/css?family=Sniglet');

h1{
    color: blue;
    font-family: 'Sniglet', cursive;
}
li{
    color: blue;
    list-style-type:none;
    font-family: 'Sniglet', cursive;
}