@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
li {
    list-style-type: none;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

h3, button {
    font-family: 'Sniglet', cursive;
    font-size: 1.2em;
}

button {
    background-color: #ccc;
    margin: 5px;
}

button:hover {
    background-color: #fff;
    border: 1px solid rgb(16, 130, 195);
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.studentList {
    border: 1px solid #487eb0;
    box-shadow: 2px 2px 2px 2px rgb(16, 130, 195);
    width: auto;
    padding: 50px;
    background-color: #40739e;
}

h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}