<div class="info">
  <h1>User Information</h1>
</div>
<div class="main">

  <ul *ngFor="let student of students let i = index">
    <li class="studentList">
      <ul>
        <li>
          ID: {{student._id}}
        </li>
        <li>
          First Name: {{student.firstName}}
        </li>

        <li>
          Last Name: {{student.lastName}}
        </li>
        <li>
          Location: {{student.address}}
        </li>
      </ul>
      <div>
        <button class='delete' mat-button color="warn" (click)="onDelete(student._id)">Delete</button>
        <button mat-button color="accent" [routerLink]="['/editStudent', student._id]">Update</button>
      </div>
    </li>

  </ul>
</div>


<div>
  <!-- <app-new-student-form></app-new-student-form> -->
</div>